html, body {
  height:100%;
  overflow-x: hidden;
}
body {
  color: white;
  font: bold 16px Helvetica, Arial, sans-serif;
  text-align: center;  
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 50%),
  url('/img/desk.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.content {
  min-height: calc(100vh - 318px);
}
h1 {
  font-weight: bold;
  font-size: 4rem;
  padding: 50px 15%;
}
h2 {
  font-weight: bold;
}
form {
  display: inline;
}
input {
	text-align: center;
  width: 125px;
  height: 40px;
  color: black;
}
button {
  background: #0086b3;
  color: white;
  border: none;
  padding: 1rem;
  width: 40px;
}
#listName {
  margin-top: 3rem;
  font-size: 36px;
}
ol {
  margin-left: 15px;
  font-size: 24px;
}


footer {
  width: 100%;
  height: 100px;
  background: rgb(34, 34, 34);
  background-size: cover;  
  font-size: 10px;
}
footer img {
  height: 40px;
  width: 40px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 8rem;
  }
}